html { font-size: 14px; }
@media only screen and (min-width: 600px) {
  html { font-size: 16px; }
}

body {
  background-color: #eee;
}

div.wrapper {
  width: calc(100% - 2rem);
  max-width: 48ch;
  margin: 0 auto;
}

p, ul {
  text-align: justify;
  line-height: 1.4rem;
  text-shadow: 1px 1px 0 #eee;
}

div.postscript p {
  opacity: 0.5;
  margin: 0.125rem 0;
  font-size: 0.625rem;
  line-height: 0.8rem;
  text-align: left;
}

h1 {
  display: table;
  font-size: 5rem;
  word-spacing: -1.25rem;
  margin: 0;
}

span.comma {
  color: #ccc;
}

ul {
  display: table;
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1rem;
}

li:before {
  content: '~';
  padding-right: 0.25rem;
  color: #aaa;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}
