html { font-size: 14px; }
@media only screen and (min-width: 600px) {
  html { font-size: 18px; }
}

div.wrapper {
  width: calc(100% - 2rem);
  max-width: 50ch;
  margin: 0 auto;
}

p, ul {
  line-height: 1.4rem;
}

h1 {
  display: table;
  font-size: 5rem;
  word-spacing: -1.25rem;
  margin: 0;
}

span.comma {
  color: #ccc;
}

ul {
  display: table;
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1rem;
}

li:before {
  content: '~';
  padding-right: 0.25rem;
  color: #aaa;
}
